<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
	 <link rel="stylesheet" href="/css/bootstrap.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/style.css"> 
	<link rel="stylesheet" href="/css/menubar.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="http://font.googleapis.com/css?family=Tangerine">
        <style>
  body {
    
    font-family: 'Tangerine', sans-serif;
    font-size:1em;
       }
</style>
       
    </head>
    <body>

	<div class="container-fluid">
	<nav id="menu-wrap">
    <div class="row-fluid">
      
    
<p></p>

</div>
<div class="row-fluid">
  <div class="span12">
    <img src="/images/heading.jpg" width="1000" height="200"></a>
    <div id="line">    
<marquee>BUY WITH CONFIDENCE. CUSTOMER SATISFACTION IS OUR ONLY MOTTO.
</marquee>
</div>
<ul id="menu">
	<li><a href="/">Home</a></li>
  <li><a href="/nikon/">Nikon</a>
    <ul>
      <li><a href="/nikon/digital/">Digital SLR Cameras</a></li>
      <li><a href="/nikon/lenses/">NIKKOR Lenses</a></li>
      <li><a href="/nikon/flash/">Flashes (Speedlight)</a></li>
      <li><a href="/nikon/accessories/">Accessories</a></li>
      <li><a href="/nikon/coolpix/">Coolpix</a></li>
    </ul>
  </li>
  <li><a href="/#/">Canon</a>
    <ul>
      <li><a href="/canon/digital/">Digital DSLR Cameras</a></li>
      <li><a href="/canon/lenses/">Canon Lenses</a></li>
      <li><a href="/canon/exlenses/">Canon Extra Lenses</a></li>
    </ul>
  </li>
	<li><a href="#">Panasonic</a>
        <ul>
          <li><a href="/ultrazoom/">Ultra High Zoom</a></li>
          <li><a href="/travelzoom/">Traveler Zoom</a></li>
          <li><a href="/stylishzoom/">Stylish Zoom</a></li>
          <li><a href="/stylishslim">Stylish Slim</a></li>
          <li><a href="/hdcamcorder">HD Camcorder</a></li>
          <li><a href="/dualcamera">Dual Camera</a></li>
        </ul>
      </li>
	<li><a href="/fujifilm/">Fujifilm</a></li>
  <li><a href="#">Sony</a>
  <ul>
          <li><a href="/system/">&prop; System</a></li>
          <li><a href="/sonyex/">Sony EXMOR</a></li>
          <li><a href="/professional/">Professional Cameras</a></li>
  </ul>
  <li><a href="/shanghai/">Shanghai ring light</a></li>

	</li>
	
</ul>


</nav>
<script>
$(function() {
  if ($.browser.msie && $.rowser.version.substr(0,1)<7)
  {
	$('li').has('ul').mouseover(function(){
		$(this).children('ul').css('visibility','visible');
		}).mouseout(function(){
		$(this).children('ul').css('visibility','hidden');
		})
  }
}); 

</script>

<script>
/* Mobile */
$('#menu-wrap').prepend('<div id="menu-trigger">Menu</div>');		
$("#menu-trigger").on("click", function(){
	$("#menu").slideToggle();
});

</script>

<script>
// iPad
var isiPad = navigator.userAgent.match(/iPad/i) != null;
if (isiPad) $('#menu ul').addClass('no-transition');
</script>
      </div> 
    </div>

</div>
</div>
        

                {{ content }}


<div class="container-fluid">
             <div id="details"
              
                <p>
                  162/164 D.N. Road,<br> Near Co-Optex,<br> 
                  Fort, Mumbai-400 001
                </p>
             
                <p>
                  Tel no. 22069221 / 66347701 / 66395931<br>
                  Mob.no. 9820019113 / 7738333346<br>
                  email:mafsee_cameras@yahoo.com
                </p>
             </div>
           
          </div>
        </div> <!-- /container -->
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>       
    
    <script src="assets/js/holder/holder.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script src="/js/matchmedia.js"></script>
<script src="/js/picturefill.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/jquery.fittext.js"></script>

  <script>
    // Target your .container, .wrapper, .post, etc.
    $("#featured-video").fitVids();
  </script>

    <script type="text/javascript">

      $(".fittext").fittext(2.2);

    </script>
    </body>
</html>
